
/*pêssego escuro #F29C8F
pessego claro #F5E1E1
azul cinzento #53687E
cinza claro #D3D3D3*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 100%;
    height: 50%;

}
h1{
    text-align: center;
    font-size: 62px;
}
h2{
    text-align: center;
    margin: 40px 0px 20px 0px;
    font-size: 32px;
}
h3{
    font-weight: 900;
}

.botao {
    text-align: center;
    margin: 50px 5px;

}


.cabecalho-link{
    text-decoration: none;
    border-radius: 5px;
    width: 280px;
    text-align: center;
    padding: 20px;
    background-color:#F29C8F;
    color:#53687E ;  
    font-size: 24px; 
    margin: 10px;
         
}
.cabecalho-link:hover {
    box-shadow: 4px 4px 4px #53687E ;
}
.imagemInicial{
    
    width: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;


}
.imgCentral{

    width: 500px;
    height: 500px;
}
.image_1, .image_2{
    background-color:#53687E ;
    width: 200px; 
    height: 200px;   
}

img{
    background-color: #53687E ;
    width: 200px; 
    height: 200px;
}
.paragrafo{
    font-size: 20px;
}

body {
    background-color: #F5E1E1; /*cor ok*/ 
    font-family: Arial, sans-serif;
    color:#53687E ;
    font-weight: 700;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2% ;

}


table{
    display: inline-block
}
footer{
    margin-top: 20px;
    background-color: #53687E;
    color: #F5E1E1;
    width: 100%;
    padding: 20px;
    text-align: center;
}








.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;

}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #53687E;
	border-radius: 10px;

}

.produtos li:hover {
	border-color: #F29C8F;
}

.produtos li:hover h3 {
	font-size: 34px;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
    margin-top: 10px;
    font-weight: 900;

}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}


/*----------------formulario-------------------*/
.imgemRedeSocial{
    width: 60px;
    height: 60px;
    background: #F5E1E1; 
    margin-left: 20px;
    margin-right: 20px;   
    }
spam{
    font-size: 22px;
    font-weight: bold;

}
.redeSocial{
        text-align: center;
        margin: 50px 20px;
    
    }

.contato{
font-size: 20px;

}
.contact-info {
    margin-bottom: 20px;
}
.contact-info p {
    margin-left: 20%;
    margin-right: 20%;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-left: 20%;
    margin-right: 20%;

}
input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #F29C8F;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #53687E;
}

